@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* GLOBAL CSS */
body {
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Roboto Slab Bold',serif;
    color: #242729;
}

h2 {
    font-family: 'Roboto Slab Bold',serif;
    font-weight: 700;
    color: #242729;
}

.header-hr {
    height: 8px;
    display: block;
    width: 64px;
    background-color: #f48024;
    border-radius: 1000px !important;
    margin-top: 15px;
}

.header-p {
    max-width: 32.4102564rem !important;
    color: #252b21;
    letter-spacing: 1px;
    margin: 16px auto 24px auto !important;
    font-size: 15px;
}

.max-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.btn {
    border-radius: 2px;
}

#header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999;
}
#header .c-header {
    border-bottom : none;
}

/* BANNER CSS */

#banner {
    background: url('../../img/img5.png');
    height: auto;
}
#banner h1 {
   font-weight: bold;
   margin-top: 100px;
   font-size: 45px;
}
#banner .btn {
    padding: 10px 35px;
}
#banner .button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#banner .bg-orange {
  background-color: white;
  color: black;
}

/* PARTNER COMPANY CSS */
#company {
    padding: 20px;
}

#company .company-main{
  margin-top: 100px;
}

#company .company-box {
   box-shadow: 4px 5px 5px 1px lightgrey;
}
#company .company-box:hover {
    box-shadow: 6px 5px 6px 2px lightgrey;
}
#company .phycho-factory {
    margin-top: -50px;
}
#company .four-star {
    margin-top: -50px;
}

/* ABOUT US */

#aboutUs {
    padding: 20px;
    background-color: black;
}

#aboutUs h2{
    padding-top: 2rem;
}

#aboutUs iframe {
    margin: 50px 0px;
}

/* MISSON AND VISSON */

#mivision {
    padding: 20px;
    background-color: #f7f7f7;
}

#mivision h2 {
    /* font-family: "Barlow Condensed",Sans-Serif; */
    letter-spacing: 1px;
}

#mivision p {
    letter-spacing: 1px;
    text-align: justify;
    font-family: "Muli",Sans-Serif;
    line-height: 1.5;
    font-size: 1.1em;
}

#mivision .mission {
    border-right: 1px solid #f48024; 
}

#mivision .mission > p {
    margin-right: 30px;
}

#mivision .vission > p {
    margin-left: 50px;
}

/* SERVICES */

#service {
    padding: 20px;
    padding-top: 3rem;
}

#service i {
    color: #f48024;
}

#service .col-md-4:hover i {
    font-size: 40px;
    /* box-shadow: 4px 3px 4px 1px; */
    box-shadow: 3px 3px 4px 0px;
    border: 1px #f48024;
    padding: 12px;
    border-radius: 100%;
    transition: .5s ease-in-out;
}

#service .row h2 {
    /* font-family: "Barlow Condensed",Sans-Serif; */
    line-height: 1.2;
    margin-bottom: 2rem;
    font-size: 1.533em;
    font-weight: bold;
}

#service .row p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

/* PRICING */

#pricing {
    background-color: #f6f6f6;
    padding: 20px;
    padding-top: 3rem;
}
#pricing .pricing-item {
    text-align: center;
    border-radius: 10px;
    padding: 2rem 2.5rem;
    position: relative;
    max-width: 365px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 1;
    transition: 1s;
    background: #ffffff;
}
#pricing .pricing-item .price-title h2 {
    font-size: 1.5rem;
    color: #24c1dd;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
#pricing .basic:hover {
    background: #24c1dd;
    border-color: #24c1dd;
}
#pricing .advanced:hover {
    background: #f1c30f;
    border-color: #f1c30f;
}
#pricing .premium:hover {
    background: #84b813;
    border-color: #84b813;
}
#pricing .pricing-item:hover .price-title h2, 
    #pricing .pricing-item:hover .price-title p,
    #pricing .pricing-item:hover .price span,
    #pricing .pricing-item:hover .price h3,
    #pricing .pricing-item:hover .price-description p{
    color: #ffffff;
}
#pricing .advanced .price-title h2 {
    color: #f1c30f;
}
#pricing .premium .price-title h2 {
    color: #84b813;
}
#pricing .pricing-item .price-title p {
    color: #6f6f6f;
    padding: 10px 0;
}
#pricing .pricing-item .price h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 62px;
    font-weight: 300;
    color: #18191d;
    margin-bottom: 0;
}
#pricing .pricing-item .price .dollar {
    position: relative;
    font-family:  Robo;
    font-size: 60px;
    top: 0;
    font-weight: 300;
}
#pricing .pricing-item .price .month {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
#pricing .pricing-item .price-description {
    padding-bottom: 22px;
    max-width: 200px;
    margin: 0 auto;
    padding-top: 20px;
}
#pricing .pricing-item .price-description p {
    color: #535353;
    text-transform: capitalize;
    margin-bottom: 15px;
    display: flex;
}
#pricing .pricing-item .price-description p:before {
    font-family: 'themify';
    content: "\2713";
    color: #30e512;
    margin-right: 8px;
    width: 20px;
    font-size: 20px;
}
#pricing .pricing-item .price-description p.not:before {
    content: "\292B";
    color: #ff434b;
}