@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* GLOBAL CSS */
body {
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Roboto Slab Bold',serif;
    color: #242729;
}

h2 {
    font-family: 'Roboto Slab Bold',serif;
    font-weight: 700;
    color: #242729;
}

.header-hr {
    height: 8px;
    display: block;
    width: 64px;
    background-color: #f48024;
    border-radius: 1000px !important;
    margin-top: 15px;
}

.header-p {
    max-width: 32.4102564rem !important;
    color: #252b21;
    letter-spacing: 1px;
    margin: 16px auto 24px auto !important;
    font-size: 15px;
}

.max-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.btn {
    border-radius: 2px;
}

#header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999;
}
#header .c-header {
    border-bottom : none;
}

/* HEADER CSS */
#navbar {
    background-color: white;
    z-index: 9999;
}

.navbar .navbar-brand {
    color: #f48024;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav .nav-link {
    color: #54595f;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.navbar-nav .nav-item:hover .nav-link {
    color: #557dbf;
    font-weight: bold;
}
.navbar-nav .nav-item {
    padding-right: 10px;
}

.navbar-toggler {
    background-color: lightgrey;
}

.navbar-icon {
    font-size: 13px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* BANNER CSS */

#banner {
    background: url('../../img/img5.png');
    height: auto;
}
#banner h1 {
   font-weight: bold;
   margin-top: 150px;
   font-size: 45px;
}
#banner .btn {
    padding: 10px 35px;
}
#banner .button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#banner .bg-orange {
  background-color: white;
  color: black;
}

/* PARTNER COMPANY CSS */
#company {
    padding: 20px;
}

#company .company-main{
  margin-top: 100px;
}

#company .company-main img {
    border: none;
    outline: none;
    border-radius: 19px 19px 0px 0px;
    height: 175px;
}

#company .company-box {
   /* box-shadow: 4px 5px 5px 1px lightgrey; */
   border: 1px solid #e5e5e5;
   border-radius: 20px;
}
#company .company-box:hover {
    /* box-shadow: 6px 5px 6px 2px lightgrey; */
    box-shadow:0px 15px 40px 5px rgba(0,0,0,0.10);
    transition: all 300ms ease-in-out;
}
#company .phycho-factory {
    margin-top: -50px;
}
#company .four-star {
    margin-top: -50px;
}
#company .card-title {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

/* ABOUT US */

#aboutUs {
    padding: 20px;
    background-color: black;
}

#aboutUs h2{
    padding-top: 2rem;
}

#aboutUs iframe {
    margin: 50px 0px;
}
#aboutUs iframe {
    width : 860px;
    height : 415px;
}

/* MISSON AND VISSON */

#mivision {
    padding: 20px;
    background-color: #f7f7f7;
}

#mivision h2 {
    letter-spacing: 1px;
}

#mivision p {
    letter-spacing: 1px;
    text-align: justify;
    font-family: "Muli",Sans-Serif;
    line-height: 1.5;
    font-size: 1.1em;
}

#mivision .mission {
    border-right: 1px solid #f48024; 
}

#mivision .mission > p {
    margin-right: 30px;
}

#mivision .vission > p {
    margin-left: 50px;
}

/* SERVICES */

#service {
    padding: 20px;
    padding-top: 3rem;
}

#service i {
    color: #f48024;
}

#service .col-md-4:hover i {
    font-size: 40px;
    /* box-shadow: 4px 3px 4px 1px; */
    box-shadow: 3px 3px 4px 0px;
    border: 1px #f48024;
    padding: 12px;
    border-radius: 100%;
    transition: .5s ease-in-out;
}

#service .row h2 {
    /* font-family: "Barlow Condensed",Sans-Serif; */
    line-height: 1.2;
    margin-bottom: 2rem;
    font-size: 1.533em;
    font-weight: bold;
}

#service .row p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

/* PRICING */

#pricing {
    background-color: #f6f6f6;
    padding: 20px;
    padding-top: 3rem;
}
#pricing .pricing-item {
    text-align: center;
    border-radius: 10px;
    padding: 2rem 2.5rem;
    position: relative;
    max-width: 365px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 1;
    transition: 1s;
    background: #ffffff;
}
#pricing .pricing-item .price-title h2 {
    font-size: 1.5rem;
    color: #24c1dd;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
#pricing .basic:hover {
    background: #24c1dd;
    border-color: #24c1dd;
}
#pricing .advanced:hover {
    background: #f1c30f;
    border-color: #f1c30f;
}
#pricing .premium:hover {
    background: #84b813;
    border-color: #84b813;
}
#pricing .pricing-item:hover .price-title h2, 
    #pricing .pricing-item:hover .price-title p,
    #pricing .pricing-item:hover .price span,
    #pricing .pricing-item:hover .price h3,
    #pricing .pricing-item:hover .price-description p{
    color: #ffffff;
}
#pricing .advanced .price-title h2 {
    color: #f1c30f;
}
#pricing .premium .price-title h2 {
    color: #84b813;
}
#pricing .pricing-item .price-title p {
    color: #6f6f6f;
    padding: 10px 0;
}
#pricing .pricing-item .price h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 62px;
    font-weight: 300;
    color: #18191d;
    margin-bottom: 0;
}
#pricing .pricing-item .price .dollar {
    position: relative;
    font-family:  Robo;
    font-size: 60px;
    top: 0;
    font-weight: 300;
}
#pricing .pricing-item .price .month {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
#pricing .pricing-item .price-description {
    padding-bottom: 22px;
    max-width: 200px;
    margin: 0 auto;
    padding-top: 20px;
}
#pricing .pricing-item .price-description p {
    color: #535353;
    text-transform: capitalize;
    margin-bottom: 15px;
    display: flex;
}
#pricing .pricing-item .price-description p:before {
    font-family: 'themify';
    content: "\2713";
    color: #30e512;
    margin-right: 8px;
    width: 20px;
    font-size: 20px;
}
#pricing .pricing-item .price-description p.not:before {
    content: "\292B";
    color: #ff434b;
}

/* TEAM */
#team {
    padding: 20px;
    padding-top: 3rem;
}

#team .team-box {
    position: relative;
    margin-bottom: 50px;
}

#team .team-box .inner-box {
    position: relative;
    display: block;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
#team .team-box .inner-box:hover {
    box-shadow: 0 10px 30px 3px rgba(0,0,0,.1);
}
#team .team-box .inner-box:hover .lower-box {
    transform: translateY(-90px);
} 

#team .team-box .image-box {
    position: relative;
    display: block;
    border-radius: 20px;
}

#team .team-box .image-box img {
    position: relative;
    width: 100%;
    border-radius: 20px;
}

#team .team-box .lower-box {
    position: relative;
    display: block;
    background: #fff;
    padding: 15px 20px 0;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
#team .team-box .lower-box > .lower-content {
    position: relative;
    display: block;
    background: #fff;
    padding: 0 0 30px;
    margin-bottom: -90px;
}
#team .team-box .lower-content > .name {
    position: relative;
    font-size: 24px;
    color: #25283a;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;

}
#team .team-box .lower-content > .name:hover {
    color: #3cc88f;
}
#team .team-box .lower-content > .designation {
    position: relative;
    font-size: 15px;
    color: #848484;
}
#team .team-box .social-links {
    position: relative;
    padding: 20px 0 0;
}
#team .team-box .clearfix {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
#team .team-box .clearfix > li {
    position: relative;
    display: inline-block;
    margin: 0 3px 5px;

}
#team .team-box .clearfix > li > a {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    font-size: 13px;
    border: 1px solid #e5e5e5;
    line-height: 46px;
    text-align: center;
    background: #fff;
    color: #848484;
    border-radius: 50%;
    text-decoration: none;
}
#team .team-box .clearfix > li > a > i {
    margin-left: 2px;
}
#team .team-box .clearfix > li > a:hover {
    background: #3cc88f;
    color: white;
}

/* CONTACT */

#contact {
    padding: 20px;
    padding-top: 2rem;
    background-color: whitesmoke;
}

#contact .form-control {
    border : 0px;
    border-bottom: 1px solid lightgrey;
    border-radius: 0px;
}

/* FOOTER */
.c-footer {
    background-color: white;
    margin-top: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: 0px;
}
.c-footer ul li {
    margin-right: 0.8rem;
}
.c-footer .social-nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    opacity: 0.6;
}
.c-footer .link-nav li a {
    color: #424242;
    font-size: 0.8rem;
    opacity: 0.6;
}
.c-footer .section-divide {
    display: block;
    width: 99%;
    height: 1px;
    margin: -8px 0.8rem 8px 0px;
    background-color: #424242;
    opacity: 0.2;
}
.c-footer .copy-right p:last-child {
    margin-right: 10px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 769px) and (max-width: 991px) { 
    #company .phycho-factory {
        margin-top: 0px;
    }
    #company .four-star {
        margin-top: 0px;
    }

    #pricing .pricing-item {
        margin-top: 15px;
    }
    
    #aboutUs iframe {
        width: 660px;
        height: 375px;
    }
 }

@media only screen and (min-width: 576px) and (max-width: 768px) { 
    #company .phycho-factory {
        margin-top: 0px;
    }
    #company .four-star {
        margin-top: 0px;
    }

    #pricing .pricing-item {
        margin-top: 15px;
    }
    
    #aboutUs iframe {
        width: 520px;
        height: 375px;
    }
 } 

 @media only screen and (min-width: 361px) and (max-width: 575px) { 
    #company .phycho-factory {
        margin-top: 0px;
    }
    #company .four-star {
        margin-top: 0px;
    }

    #mivision .mission {
        border-right: 0px;
    }

    #mivision .vission > p {
        margin-left: 0px;
    }

    #pricing .pricing-item {
        margin-top: 15px;
    }
    
    #aboutUs iframe {
        width: 350px;
        height: 275px;
    }

    .c-footer .link-nav {
        display: none !important;
    }

    .c-footer .copy-right p:last-child {
        display: none   ;
    }
 } 

 @media only screen and (min-width: 266px) and (max-width: 360px) { 
    #company .phycho-factory {
        margin-top: 0px;
    }
    #company .four-star {
        margin-top: 0px;
    }

    #mivision .mission {
        border-right: 0px;
    }

    #mivision .vission > p {
        margin-left: 0px;
    }

    #pricing .pricing-item {
        margin-top: 15px;
    }
    
    #aboutUs iframe {
        width: 243px;
        height: 256px;
    }

    .c-footer .link-nav {
        display: none !important;
    }

    .c-footer .copy-right p:last-child {
        display: none   ;
    }
 }

